//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//BORDER RADIUS

$border-radius-small: .3rem;
$border-radius-smaller: .2rem;
$border-radius-big: 10rem;

//SHADOW
$box-shadow-smallest: rgba($color-black, .1);
$box-shadow-small: rgba($color-black, .15);
$box-shadow-small-2: rgba($color-black, .2);
$box-shadow-medium: rgba($color-black, .4);
$box-shadow-big: rgba($color-black, .5); 
$text-shadow: rgba($color-black, .2s);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;